

#mkfiles-link {
  
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  text-decoration: none;
  text-align: center;
}

#liveplot2-link {
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
}

#fireplace-link {
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  text-decoration: none;
  text-align: center;
}

#mkturk-link {
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  text-decoration: none;
  text-align: center;
}

#mkscale-link {
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

#mkcolony-link {
  display: block;
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
}