html, body {
  height: 90%;
  margin: 0px;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.4fr 3fr;
  grid-template-areas: "header header"
                       "mkquery mkquery"
                       "result editor-container"; 
  grid-gap: 10px;
  margin: 20px;
  padding: 10px;
  border: solid 2px #000;
  height: 90%;
  min-width: 1400px;
}

.main-container > * {
  padding: 30px;
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  border: solid 2px #000;
  background-color: grey;
  margin: 0px;
}

.mastheader {
  grid-area: header;
}

#query-form {
  grid-area: mkquery;
  margin: 0px;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "qry-selector field-selector keyword-0 go"
                       " . . keyword-1 ."
                       " . . keyword-2 ."; 
  
}

#qry-loc-selector {
  grid-area: qry-selector;
}

#field-selector {
  grid-area: field-selector;
}

#keyword-input-0 {
  grid-area: keyword-0;
}

#keyword-input-1 {
  grid-area: keyword-1;
}

#keyword-input-2 {
  grid-area: keyword-2;
}

#go-btn {
  grid-area: go;
}


#tabulator-div {
  grid-area: result;
  margin: 0px;
  padding: 0px;
  min-height: 580px;
  display: grid;
  grid-template-rows: 0.5fr 8fr;
  grid-template-areas: "controls"
                       "tabulator";
  min-width: 500px;

}

#tabulator {
  grid-area: tabulator;
  padding: 2px;
  border: 0px;
  
}

#tabulator-controls {
  grid-area: controls;
  border: solid 2px white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "back forward filter filter"
                       "upload upload download show-images";
  grid-gap: 0px;
  padding: 5px;
  grid-gap: 2px;

}

#filter-value {
  grid-area: filter;
}

#back-button {
  grid-area: back;
  text-align: center;
}

#forward-button {
  grid-area: forward;
  text-align: center;
}

#upload-file {
  grid-area: upload;
  text-align: center;
}

#download-file {
  grid-area: download;
  text-align: center;
}

#show-images-button {
  grid-area: show-images;
  text-align: center;
}

#jsoneditor {
  grid-area: editor;
  background-color: white;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 3;
}

#canvas-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}

#image-canvas {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
  list-style-type: none;
}

.imageList {
  display: block;
  height: auto;
  width: 100%;
  padding-top: 10px;
}

.imageList div {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;
}

.imageList div img {
  height: auto;
  width: 100%;
}

.imageList div p {
  font-size: 12px;
  color: black;
  height: auto;
  display: block;
  word-wrap: break-word;
}

#jsoneditor-div {
  grid-area: editor-container;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 8fr 0.5fr;
  padding: 2px;
  max-height: 100%;
  overflow: hidden;
  min-width: 800px;
  
}

#update-json {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 3;
}

#webgl-canvas {
  z-index: 1;
  position: absolute;
}

#status-circle {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
