#mkquery-form {
  display: grid;
  grid-gap: 6px;
  padding: 40px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "qry-selector field-selector keyword-0 go"
                       " . . keyword-1 ."
                       " . . keyword-2 ."; 

}

#qry-loc-selector {
  grid-area: qry-selector;
}

#field-selector {
  grid-area: field-selector;
}

#keyword-input-0 {
  grid-area: keyword-0;
}

#keyword-input-1 {
  grid-area: keyword-1;
}

#keyword-input-2 {
  grid-area: keyword-2;
}

#go-btn {
  grid-area: go;
}

#finder-card {
  display: grid;
  grid-template-rows: 1fr 16fr;
  grid-template-areas: "controls"
                       "finder";
}

#finder-controls {
  grid-area: controls;
  border: solid 2px white;


  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "back forward filter filter"
                       "upload upload download show-images";
  grid-gap: 4px;
  padding: 6px;
}

#filter-value {
  grid-area: filter;
}

#back-button {
  grid-area: back;
  text-align: center;
}

#forward-button {
  grid-area: forward;
  text-align: center;
}

#upload-file {
  grid-area: upload;
  text-align: center;
}

#download-file {
  grid-area: download;
  text-align: center;
}

#show-images-button {
  grid-area: show-images;
  text-align: center;
}

#finder {
  margin: 6px;
  grid-area: finder;
  border: 0px;
}

#media-card {
  display: grid;
}

#editor-div {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  
  display: grid;

  grid-template-rows: 10fr 0.25fr;
  grid-template-areas: "editor"
                       "update-btn";

  max-height: 100%;
  overflow: auto;
}

#editor {
  grid-area: editor;
  max-height: 100%;
  overflow: auto;
}

#update-btn {
  grid-area: update-btn;
}

#image-canvas-div {
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
}

#three-canvas {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.page-content > * {
  max-height: 80vh;
}