#weight-display {
  display: block;
  font-family: Roboto;
  color: brown;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 140px;
  text-align: center;
}

#main-container {
  display: flex;
  align-items: stretch;
}

#editor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}