/* #colony-tab {
  min-height: 100%;
} */

#colony-tab {
  min-height: 80vh;
}

#agent-tab {
  min-height: 100vh;
}

#colony-weight-card {
  display: grid;
  grid-template-rows: 8fr 1fr;
  grid-template-areas: "clWtPlot"
                       "clWtDateFilter";
}

#colony-weight-card > * {
  margin: 0px;
}

#colony-weight-plot {
  grid-area: clWtPlot;
}

#colony-weight-date-filter {
  grid-area: clWtDateFilter;
}

#agent-notes-grid {
  min-height: 40vh;
  overflow: visible;
}

#agent-weight-grid {
  min-height: 40vh;
}

#agent-fluid-grid {
  min-height: 40vh;
}

#agent-json {
  height: 100%;
  overflow: visible;
}

#agent-bio {
  padding: 10px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

#agent-bio > *{
  padding-top: 5px;
  font-size: 20px;
  vertical-align: middle;
}

#preview-entry-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#data-entry-form {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px
}

.mdl-textfield {
  width: 100%;
  align-items: center;
}

#entry-button-box {
  margin-left: auto;
  margin-right: 0;
}

#select-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
