body {
  background-color: 7F7F7F;
}

#google-signin {
  z-index: 102;
  position: absolute;
  top: 0%;
  left: 92%;
}

#reload-page {
  visibility: hidden;
  z-index: 102;
  position: absolute;
  top: 0%;
  left: 92%;
}

#quick-load {
  visibility: hidden;
  background-color: green;
  z-index: 102;
  font-size: 25px;
  position: absolute;
  top: 5%;
  left: 50%;
  height: 85px;
  width: 200px;
  border-radius: 20px;
}

#subject-id-div {
  z-index: 102;
  font-size: 25px;
  position: absolute;
  top: 7.5%;
  left: 75%;
  height: 75px;
  width: 200px;
}

#connect-usb {
  visibility: hidden;
  z-index: 102;
  font-size: 25px;
  position: absolute;
  top: 12.5%;
  left: 50%;
  height: 75px;
  width: 200px;
  border-radius: 20px;
}

#no-usb {
  visibility: hidden;
  background-color: white;
  z-index: 102;
  font-size: 25px;
  position: absolute;
  top: 20%;
  left: 50%;
  height: 75px;
  width: 200px;
  border-radius: 20px;
}

#pump-flush {
  visibility: hidden;
  background-color: white;
  z-index: 102;
  position: absolute;
  top: 12%;
  left: 80%;
  height: 45px;
  width: 150px;
  border-radius: 20px;
}

#pump-trigger {
  visibility: hidden;
  background-color: white;
  z-index: 102;
  position: absolute;
  top: 17%;
  left: 80%;
  height: 45px;
  width: 150px;
  border-radius: 11px;
}

#connect-ble-scale {
  visibility: hidden;
  background-color: white;
  z-index: 102;
  position: absolute;
  top: 22%;
  left: 80%;
  height: 45px;
  width: 150px;
  border-radius: 20px;
}

.heads-up-elements {
  position: absolute;
  color: white;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  word-break: break-all;
}

#heads-up-text {
  z-index: 101;
  left: 1px;
  top: 1px;
  height: 40%;
  width: 50%;
  font-size: 20px;
}

#heads-up-text-devices {
  z-index: 101;
  left: 50%;
  top: 1px;
  height: 40%;
  width: 40%;
  font-size: 16px;
}

#heads-up-text-automator {
  z-index: 99;
  left: 50%;
  top: 1px;
  height: 40%;
  width: 50%;
  font-size: 20px;
}

#image-loading-text {
  z-index: 104;
  left: 1px;
  top: 1px;
  height: 50%;
  width: 100%;
  font-size: 16px;
}

.btn-class-2 {
  visibility: hidden;
  z-index: 102;
  font-size: 25px;
  position: absolute;
  height: 75px;
  width: 200px;
  border-radius: 20px;
}

#done-editing-params {
  top: 5%;
  left: 50%;
}

#done-practice {
  top: 12.5%;
  left: 50%;
}

#stress-test {
  background-color: white;
  top: 20%;
  left: 50%;
}

#preempt-rfid {
  background-color: red;
  top: 20%;
  left: 5%;
}

.canvas-class {
  position: absolute;
  left: 0px;
  top: 0px;
}

#canvas-heads-up {
  z-index: 2;
}

#canvas-visible {
  z-index: 1;
}

#canvas-visible-webgl {
  z-index: 3;
}

#canvas-eyetracker {
  z-index: 4;
}