#mkquery-form {
  display: grid;
  grid-gap: 6px;
  padding: 40px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "qry-selector field-selector keyword-0 go"
                       "x y keyword-1 plot"
                       " . . keyword-2 ."; 

}

#qry-loc-selector {
  grid-area: qry-selector;
}

#field-selector {
  grid-area: field-selector;
}

#keyword-input-0 {
  grid-area: keyword-0;
}

#keyword-input-1 {
  grid-area: keyword-1;
}

#keyword-input-2 {
  grid-area: keyword-2;
}

#go-btn {
  grid-area: go;
}

#quick-plot-x {
  grid-area: x;
  visibility: hidden;
}

#quick-plot-y {
  grid-area: y;
  visibility: hidden;
}

#plot-btn {
  grid-area: plot;
  visibility: hidden;
}

#finder-card {
  display: grid;
}

#finder-div {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;

  display: grid;
  grid-template-rows: 1fr 16fr 0.25fr;
  grid-template-areas: "controls"
                       "finder"
                       "controls-2";

  max-height: inherit;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#finder-controls {
  grid-area: controls;
  border: solid 2px white;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-areas: "back forward filter filter"
                       "show-images n-img-slider n-img-slider n-img-slider"
                       "path-name path-name path-name path-name";
  grid-gap: 4px;
  padding: 6px;
  padding-bottom: 0px;
}

#finder-controls-2 {
  grid-area: controls-2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "upload download";
}

#chart-div {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

#filter-value {
  grid-area: filter;
}

#back-button {
  grid-area: back;
  text-align: center;
}

#forward-button {
  grid-area: forward;
  text-align: center;
}

#upload-file {
  grid-area: upload;
  text-align: center;
}

#download-file {
  grid-area: download;
  text-align: center;
}

#show-images-button {
  grid-area: show-images;
  text-align: center;
}

#num-image-slider-p {
  grid-area: n-img-slider;
  margin: 8px;
}

#path-name-span {
  grid-area: path-name;
  margin-bottom: 0px;
  font-weight: bold;
}

#finder {
  margin: 6px;
  margin-top: 3px;
  grid-area: finder;
  border: 0px;
}

#media-card {
  display: grid;
}

#editor-div {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  
  display: grid;

  grid-template-rows: 0.125fr 10fr 0.25fr;
  grid-template-areas: "file-name"
                       "editor"
                       "btn-box";

  max-height: inherit;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#editor {
  grid-area: editor;
  max-height: 100%;
  background-color: white;
  overflow-y: hidden;
}

#file-name-span {
  grid-area: file-name;
  margin-bottom: 0px;
  font-weight: bold;
}

#button-box {
  grid-area: btn-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "update-btn update-btn";
}

#update-btn {
  grid-area: update-btn;
}

#active-btn {
  grid-area: active-btn;
  display: none;
}

#store-param-btn {
  grid-area: store-param-btn;
  display: none;
  /* visibility: hidden; */
}

#image-canvas-div {
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  background-color: white;

}

#image-canvas {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 10px;
  list-style-type: none;
}

.imageList {
  display: block;
  height: auto;
  width: 100%;
  display: block;
}

.imageList div {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;
}

.imageList div img {
  height: auto;
  width: 100%;
}

.imageList div p {
  font-size: 12px;
  color: black;
  height: auto;
  display: block;
  word-wrap: break-word;
}


#three-canvas {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  display: block;
}

.page-content > * {
  max-height: 80vh;
}

#file-name-div {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  margin-left: 10px;
  width: 50%;
}

#file-rename-btn {
  display: none;
  float: right;
}

#file-dup-btn {
  display: none;
  float: right;
}

#file-dup-modal {
  min-width: 400px;
}

#dup-file-name {
  color: black;
  font-size: medium;
}

#gen-scene-param-btn {
  display: none;
  float: right;
}

#gen-scene-param-modal {
  min-width: 600px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content > p {
  margin: 0px;
}